certifi==2020.6.20
chardet==4.0.0
colorzero==1.1
cycler==0.11.0
distro==1.5.0
fonttools==4.34.4
gevent==21.12.0
gpiozero==1.6.2
greenlet==1.1.2
idna==2.10
kiwisolver==1.4.4
matplotlib==3.5.2
mpu6050-raspberrypi==1.2
-e git+https://github.com/Intelligent-Vehicle-Perception/MPU-9250-Sensors-Data-Collect.git@3622c215d32d9d1c81ccfb611ca041dd79354779#egg=mpu9250_jmdev
numpy==1.19.5
packaging==21.3
pigpio==1.78
Pillow==9.2.0
pyparsing==3.0.9
pyserial==3.5
python-apt==2.2.1
python-dateutil==2.8.2
requests==2.25.1
RPi.GPIO==0.7.0
six==1.16.0
smbus==1.1.post2
smbus2==0.3.0
spidev==3.5
ssh-import-id==5.10
tfmini==0.3.2
urllib3==1.26.5
websockets==10.3
zope.event==4.5.0
zope.interface==5.4.0
