body {
  width: 100vw;
  height: 100vh;
}

body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #282828;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-row.left {
  justify-content: flex-start;
}

.flex-row.right {
  justify-content: flex-end;
}

.app {
  height: 100vh;
  width: 100%;
}

.app__left {
  width: 70%;
  height: 100%;
}

.app__right {
  width: 30%;
  height: 100%;
  border-left: 1px solid #aaa;
}